.Rproj.user
.Rhistory
.RData
.Ruserdata
raw-data*
outputs/Sensitivity/*
outputs/old/*
outputs/movingaverage_meta/*
outputs/movingaverage_meta_split/*
outputs/meta_updated/*
outputs/metadrivers/*
outputs/meta_updated/*
outputs/driver_unweighted/*
outputs/onestage/*
outputs/MA_higherthreshold_meta/*
outputs/HTMW1/*
outputs/HTMW2/*
outputs/HTMW3/*
outputs/HTMW_siteLevel/*
outputs/onestage_decadeEffect/*
outputs/meta_country_jacknife/*
outputs/movingaverage_spplevelOnly/*
outputs/drivers_spplevelOnly/*
outputs/proportions_country/*
outputs/Driver_marginalEffects/*


